/* Default CSS */
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.fixed-width{
    width: 1140px;
    margin: auto;
}
h2{
    font-size: 38px;
}
/* Header CSS */
.header{
    background-color: #7f8c8d;
}
.header-left{
    float: left;
    width: 30%;
    padding-top: 5px;
}
.header-left img{
    width: 210px;
    height: auto;
}
.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-right ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 30px;
    line-height: 82px;
    border-right: 1px solid #fff;
}
.header-right ul li a:hover{
    background-color: #000;
}
/* Banner */
.banner{
    background: url(./images/banner.jpg) no-repeat center fixed;
    padding: 150px 0;
    background-size: cover;
}
.banner-caption h1{
    background:rgba(185, 41, 154, 0.9);
    color: #fff;
    font-size: 40px;
    max-width: 350px;
    margin: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    margin-top: 25px;
}
.banner-caption h2{
    background: rgba(252, 7, 7, 0.3);
    color: #fff;
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* about */
#about{
    padding: 60px 0;
    background: #ecf0f1;
}
#about h2{
    margin-bottom: 16px;
}
#about p{
    max-width: 700px;
    margin: auto;
    font-size: 19px;
}

/* Service */
#service{
    margin: 50px 0;
}
#service h2{
    margin-bottom: 30px;
}
.service-item{
    float: left;
    width: 31.3%;
    border: 1px solid #ddd;
    padding:25px 10px;
    box-sizing: border-box;
    margin: 0 1%;
}
.service-item span{
    display: block;
    height: 60px;
    width: 60px;
    background:#3498db;
    margin: auto;
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
    -webkit-border-radius: 20px 0 20px 0;
    -moz-border-radius: 20px 0 20px 0;
    -ms-border-radius: 20px 0 20px 0;
    -o-border-radius: 20px 0 20px 0;
}
.service-item h3{
    margin: 20px 0;
    font-size: 30px;
}

/* Blogs */
.blog-container{
    padding: 60px 0;
    background: #bdc3c7;
}
.blog-container h2{
    margin-bottom: 30px;
}
.blog-left{
    float: left;
    width: 70%;
}
.blog-right{
    float: right;
    width: 25%;
}
.blog-item{
    margin-bottom: 30px;
}
.blog-item img{
    float: left;
    width: 160px;
    height: auto;
    margin-right: 15px;
}
.blog-right h2{
    font-size: 32px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.blog-right ul{
    list-style: none;
}
.blog-right ul li{
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Contact */
#contact{
    background: #1cbfca;
    padding: 50px 0;
}
#contact h2{
    margin-bottom: 25px;
}
form{
    width: 500px;
    background: rgba(185, 41, 154, 0.3);
    margin: auto;
    padding: 20px;
}
#f{
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 18px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#submit{
    background: #d35400;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* Footer */
.footer{
    background: #2c3e50;
    color: #fff;
    padding: 15px 0;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-right{
    float: right;
    width: 60%;
}

.social-menu li{
    display: inline-block;
}
.social-menu li a{
    color: #ffff;
    font-size: 20px;
    margin-left: 10px;
}
.social-menu li a:hover{
    color: red;
}